@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-exact-red: #E30613;
  --color-exact-blue: #0046AD;
  --color-exact-dark: #262626;
  --color-exact-beige: #F3F1ED;
  --color-exact-purple: #8F13FE;
  --color-exact-gold: #DFA800;
  
  --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Montserrat", ui-sans-serif, system-ui, sans-serif;
}

body {
  color: var(--color-exact-dark);
  background-color: var(--color-exact-beige);
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
